/* app css stylesheet */

body{

background-color: #10bfc1;

}

.pageNav{

  padding: 40px;

}

#introNavItem1 {
  background-color: #b3319a;
  width:33%
}

#introNavItem2 {

  width:33%;
  background-color: #031f1f;
}

#introNavItem3 {
  width: 33%;
  background-color: #028e9b;

}


#introNavItem4 {
 text-align: center;
width: 100%;
  background-color:  #031f1f;
}


#halfNavItem1 {

  width: 49%;

}


#halfNavItem2 {

  width: 49%;

}



#landingNav {

  background-color: #028e9b;
  font-family: 'Times New Roman';
  font-size: 20px;


}


.rowPadding{

  padding: 40px;
  word-wrap: break-word;
  color: #ffffff;


}

#logo {
  width: 150px;
  height: 100px;
  background-image: url("touchbase/app/assets/landingPagePics/logocolour.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;

}

.navText {

  text-align: justify;
  font-size: 20px;
  padding-top: 20px;

}



.homeTxt{

  word-wrap: break-word;
  color: #ffffff;
  padding: 20px;


}

.navBarWidth{

  width: 33.333333%;
  background-color: green;
  border-style: double;

}

