/* app css stylesheet */

#landingPageBdy{

  background-image: url("assets/landingPagePics/light-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;


}



#landingNav {

  opacity: 0.9;

}

#logo {
  width: 150px;
  height: 100px;
  background-image: url("assets/landingPagePics/logocolour.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;

}

.navText {

  text-align: justify;
  font-size: 20px;
  padding-top: 20px;

}

#navSocialImg {

  width: 150px;
  height: 100px;
  background-image: url("assets/landingPagePics/platform-logos.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;


}

#landingLbl {

  position: relative;
  left: 550px;
  font-family: "Georgia", Times New Roman, Times, sans-serif;
  font-size: x-large;
  letter-spacing: 10px;

}


.landingTxt{

  width: 300px;
  word-wrap: break-word;
  color: #ffffff;
  font-size: x-large;
  padding: 20px;


}

.signUpFormText{

  color: #ffffff;
  background-color: #808080;

}

.signUpFormInput {



}

#signUpForm {

    width: 300px;
  background-color: #808080;

}


#signUpFormBtn {

  width: 100px;
  background: transparent;
  border: #ffffff;
  border-style: solid;



}

